{{#sortable-list
  items=items
  tagName="ul"
  itemTagName="li"
  as |item|
}}
  {{item.name}}
{{/sortable-list}}

{{#sortable-list
  class="list2"
  items=items2
  tagName="ul"
  itemTagName="li"
  as |item|
}}
  {{item.name}}
{{/sortable-list}}

<p>item: {{dragSort.item.name}}</p>
<p>itemNames: {{itemNames}}</p>
<p>originalItemNames: {{originalItemNames}}</p>
<p>isInAnotherList: {{dragSort.isInAnotherList}}</p>


{{recursive-item item=recursive}}